@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(fontenglish.css);
$bodyNessPuprple: #a347f1;
$bodyNessYellow: #f5e170;
$bodyNessLemon: rgba(255, 249, 227, 1);
$openSansLight: openSansLight;
$openSansMedium: openSansMedium;
$openSansBold: openSansBold;
$openSansVeryBold: openSansVeryBold;
$spartanLight: spartanLight;
$spartanMedium: spartanMedium;
$spartanBold: spartanBold;
$spartanVeryBold: spartanVeryBold;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  padding: 0;
}
.bodyLtr {
  font-family: $openSansMedium, sans-serif;
  .langBox {
    font-family: $openSansBold;
    position: absolute;
    right: 240px;
    button {
      margin-right: 10px;
      font-weight: 600;
      &.active {
        background-color: #0c0c0c36;
        padding: 5px;
        border-radius: 5px;
        padding-top: 8px;
      }
    }
    @media screen and (max-width: 768px) {
      position: static;
      display: flex;
      flex-direction: column;
    }
  }
  .otherLangBox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .mainMenu {
    width: 100%;
    position: fixed;
    left: 0;
    margin: auto;
    padding: 20px;
    z-index: 100;
    &.tiny {
      padding-top: 0;
      padding-bottom: 0;
      background-color: rgba(255, 255, 255, 0.9);
    }
    &.fixMenu {
      position: fixed !important;
      top: 0 !important;
    }
    padding-right: 30px;
    padding-left: 30px;
    transition: all 0.2s linear;
    z-index: 200;
    top: 0;
    .logo {
      width: 223px;
      height: 57px;
    }
    nav {
      a {
        font-size: 20px;
      }
    }
    .action {
      width: 187px;
      background-color: $bodyNessPuprple;
      border-radius: 10px;
      color: white;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .mobileMenu {
    position: fixed;
    top: 0;
    left: 0;

    /* background-color: rgba(255, 255, 255, 0.5); */
    justify-content: space-between;
    z-index: 100;
    .logo {
      margin-right: -29px;
      width: 165px;
    }
  }
  .homeWrapper {
    .section1 {
      height: 100vh;
      padding-bottom: 20px;
      @media screen and (min-width: 991px) {
        padding-top: 97px;
      }
      background: rgb(228, 233, 254);
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        90deg,
        rgba(228, 233, 254, 1) 0%,
        rgba(223, 196, 251, 1) 100%
      );
      .watermark {
        font-size: 284px;
        color: #ffffff33;
        position: absolute;
        top: 0px;
        left: 21px;
        line-height: 295px;
        z-index: 0;
        @media screen and (max-width: 1920px) {
          font-size: 237px;
          top: -66px;

          line-height: 254px;
        }
        @media screen and (max-width: 1366px) {
          font-size: 136px;
          top: -12px;

          line-height: 147px;
        }
      }

      .body {
        position: relative;
        width: 100%;
        .rightBox {
          width: 50%;
          .plate {
            width: 100%;
            @media screen and (min-width: 1920px) {
              width: 100%;
            }
          }
        }
        .leftBox {
          @media screen and (max-width: 991px) {
            width: 100%;
            padding-right: 0;
          }
          .letsGoImg {
            @media only screen and (min-width: 375px) {
              width: 85%;
            }
          }
          width: 50%;
          display: flex;
          padding-left: 3%;
          flex-direction: column;
          justify-content: center;
        }
        .learn {
          font-size: 25px;
          font-weight: 600;
          text-align: center;
          strong {
            color: $bodyNessPuprple;
            font-weight: 700;
          }
        }
        .welcome {
          font-size: 62px;
          z-index: 1;
          position: relative;
          @media screen and (max-width: 1366px) {
            font-size: 50px;
          }
          @media screen and (min-width: 1920px) {
            font-size: 85px;
          }
        }
        p {
          font-size: 24px;
          font-family: $openSansBold;
          @media screen and (max-width: 767px) {
            text-align: center;
            font-size: 20px;
            color: #000000b2;
          }
          @media only screen and (min-width: 375px) {
            font-size: 17px;
          }
        }
        .coachTeamBox {
          border-radius: 32px;
          background-color: #a347f1;
          min-height: 250px;
          margin-top: 15%;
          position: relative;
          width: 760px;
          @media screen and (max-width: 1366px) {
            width: 561px;
            margin-top: 10%;
            min-height: 210px;
          }
          max-width: 100%;
          color: white;
          @media screen and (min-height: 900px) {
            margin-top: 27%;
          }
          .bodyImg {
            position: absolute;
            bottom: 0px;
            left: -77px;
            width: 410px;
            @media screen and (max-width: 1366px) {
              width: 310px;
            }
          }
          .action {
            padding-left: 85px;
            @media screen and (max-width: 1366px) {
              padding-left: 45px;
            }
            .title {
              font-size: 24px;
            }
            .text {
              font-size: 20px;
            }
            .letStartBtn {
              border-radius: 16px;
              background-color: white;
              min-height: 75px;
              margin-top: 50px;
              @media screen and (max-width: 1366px) {
                margin-top: 30px;
                min-height: 67px;
              }
              width: 90%;
              color: black;
              overflow: hidden;
              position: relative;
              span {
                font-size: 24px;
              }
              .circle {
                width: 122px;
                height: 122px;
                background-color: #a347f114;
                position: absolute;
                right: 0;
                border-radius: 64px;
                transition: all 0.2s linear;
                top: 2px;
                img {
                  margin: auto;
                  display: block;
                  margin-top: -7px;
                }
              }
              &:hover {
                .circle {
                  background-color: #a347f15c;
                }
              }
            }
          }
        }
        .letsStartBtnMobile {
          border-radius: 16px;
          font-size: 20px;
          font-family: $openSansBold;
          background-color: #a347f1;
          padding: 10px;
          width: 100%;
          color: white;
          a {
            display: block;
          }
        }
      }
      .mobilePlate {
        width: 92%;
        @media only screen and (min-width: 375px) {
          width: 80%;
        }
      }
    }
    .section2 {
      background-color: $bodyNessYellow;
      @media screen and (max-width: 767px) {
        background-color: $bodyNessLemon;
      }
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .tooltip1 {
        position: absolute;
        background-color: white;
        width: 200px;
        padding: 5px;
        border-radius: 13px;
        top: 15%;
        left: 22%;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 1366px) {
          top: 2%;
        }
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);

        justify-content: space-around;
        .info {
          display: flex;
          justify-content: space-between;
          font-size: 16px;
        }
        strong {
          font-size: 16px;
        }
      }
      .tooltip2 {
        position: absolute;
        background-color: white;
        width: 200px;
        align-items: center;
        justify-content: center;
        border-radius: 13px;
        bottom: 10%;
        right: 5%;
        @media screen and (max-width: 1366px) {
          right: -2%;
        }
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);

        justify-content: space-around;
        .info {
          display: flex;
          justify-content: space-between;
          font-size: 16px;
        }
        strong {
          font-size: 16px;
        }
      }
      .tooltip3 {
        background-color: white;
        width: 100%;
        padding: 5px;
        border-radius: 13px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
        justify-content: space-around;
        .info {
          display: flex;
          justify-content: space-between;
          font-size: 16px;
        }
        strong {
          font-size: 16px;
        }
      }
      .plateBox {
        /* height: 100%; */
        display: flex;
        width: 615px;
        background-color: rgba(255, 255, 255, 0.356);
        border-radius: 100%;
        padding: 20px;
        padding-top: 34px;
        padding-left: 30px;
        background-color: rgba(255, 255, 255, 0.356);
        position: relative;
        .plate {
          z-index: 1;
        }

        .lemon {
          position: absolute;
          right: 26px;
          top: -60px;
          z-index: 0;
        }
        .tomato {
          position: absolute;
          left: -40px;
          bottom: 4px;
          z-index: 0;
        }
      }
      .fullPlate {
        width: 80%;
        @media screen and (max-width: 991px) {
          width: 100%;
        }
      }
      .leftBox {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 991px) {
          position: static;
          width: 100%;
          display: block;
          justify-content: center;
        }
      }
      .rightBox {
        width: 50%;
        @media screen and (max-width: 991px) {
          width: 100%;
        }
        .title {
          font-size: 96px;
          height: 91px;
          color: white;
          align-items: baseline;
        }
        .title2 {
          font-size: 96px;
          height: 91px;
          color: black;
          align-items: baseline;
          padding-left: 214px;
        }
        p {
          font-size: 36px;
          @media screen and (max-width: 767px) {
            font-size: 20px;
            text-align: center;
            font-family: openSansBold;
            color: #000000b3;
          }
        }
        .letStartBtn {
          border-radius: 16px;
          background-color: black;
          min-height: 64px;
          width: 90%;
          color: white;
          overflow: hidden;
          width: 362px;
          position: relative;
          padding: 19px;
          span {
            font-size: 24px;
          }
          .circle {
            width: 122px;
            height: 122px;
            background-color: #3d3d3df5;
            position: absolute;
            right: 0;
            border-radius: 64px;
            transition: all 0.2s linear;
            top: 2px;
            img {
              margin: auto;
              display: block;
              width: 80px;
            }
          }
          &:hover {
            .circle {
              background-color: #323232f5;
            }
          }
        }
        .letsStartBtnMobile {
          border-radius: 16px;
          font-size: 20px;
          font-family: $openSansBold;
          background-color: #ff9170;
          padding: 10px;
          width: 100%;
          color: white;
        }
      }
    }
    .section3 {
      width: 100%;
      background-color: #eef9ff;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .lineTab {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1366px) {
          margin-top: 42px;
        }
        .tab {
          background-color: #c9dbe5;
          height: 6px;
          border-radius: 9px;
          width: 48px;
          margin-left: 10px;
          transition: all 0.2s linear;
          cursor: pointer;
          &.active {
            width: 89px;
            /* height: 6px; */
            background-color: #a347f1;
          }
        }
      }
      .tabTitle {
        font-family: $spartanBold;
        font-size: 18px;
        .arm {
          width: 46px;
          @media screen and (max-width: 1366px) {
            display: none;
          }
        }
        @media screen and (min-width: 1350px) {
          font-size: 27px;
        }
      }
      .title {
        font-size: 22px;
        font-family: $spartanVeryBold;
      }
      p {
        font-size: 20px;

        font-family: $openSansBold;
        color: #000000b3;
      }
      .stepNumberBox {
        background-color: $bodyNessPuprple;
        color: white;
        padding: 10px;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $spartanBold;
      }
      .mobileGenderBox {
        background-color: white;
        border-radius: 24px;
        width: 46%;
        text-align: center;
        .genderTitle {
          background-color: #e7f6ff;
          padding: 10px;
          display: flex;
          font-size: 16px;
          justify-content: space-around;
          align-items: center;
          width: 70%;
          margin: auto;
          margin-top: 10px;
          border-radius: 16px;
        }
      }
      .mobileMuscleBox {
        border-radius: 24px;
        width: 100%;
        height: 297px;
        text-align: center;
        .muscle {
          height: 270px;
          display: block;
        }
      }
      .genderBox {
        background-color: white;
        border-radius: 24px;
        width: 48%;
        text-align: center;
        .genderTitle {
          background-color: #e7f6ff;
          padding: 10px;
          display: flex;
          font-size: 20px;
          justify-content: space-around;
          align-items: center;
          width: 90%;
          margin: auto;
          margin-top: 10px;
          border-radius: 16px;
          img {
            width: 35px;
          }
        }
        .genderBody {
          height: 500px;
          @media screen and (max-width: 1350px) {
            height: 300px;
          }
        }
      }
      .muscleBox {
        height: 598px;
        position: relative;
        .watermark {
          font-size: 233px;
          font-weight: 600;
          width: 100%;
          position: absolute;
          z-index: 0;
          color: #e0f4feba;
          text-align: center;
          top: 0;
          left: 0;
          line-height: 222px;
        }
        @media screen and (max-width: 1366px) {
          height: auto;
        }
        .genderMuscle {
          height: 500px;
          z-index: 10;
          @media screen and (max-width: 1350px) {
            height: 400px;
          }
        }
      }
      .equipmentBox {
        height: 598px;
        width: 585px;
        max-width: 100%;
        margin: auto;
        margin-top: 30px;
        @media screen and (max-width: 1366px) {
          height: auto;
        }
        .box {
          background-color: white;
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
          border-radius: 14px;
          width: 116px;
          height: 116px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          /* img{
            width: 70%;
          }
          .ball{
             width:50%
          }
          .kettle{
            width:44%
         } */
        }
        .label {
          display: block;
          margin-top: 10px;
          font-weight: 400;
          font-size: 17px;
        }
      }
      .mobileEquipmentBox {
        height: 300px;
        width: 100%;
        max-width: 100%;
        margin: auto;
        margin-top: 30px;
        .mainWrraper {
          width: 300px;
          margin: auto;
          max-width: 100%;
          overflow: scroll;
          .scrollWrapper {
            width: 800px;
            display: flex;
            justify-content: space-between;
          }
          .box {
            background-color: white;
            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
            border-radius: 14px;
            width: 116px;
            height: 116px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .label {
              display: block;
              margin-top: 10px;
              font-weight: 400;
              font-size: 17px;
            }
          }
        }
      }
      .coachSportBox {
        height: 598px;
        width: 585px;
        max-width: 100%;
        margin: auto;
        margin-top: 30px;
        @media screen and (max-width: 1366px) {
          height: auto;
        }
        .box {
          background-color: white;
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
          border-radius: 14px;
          width: 48%;
          margin-right: 2%;
          height: 174px;
          display: flex;

          justify-content: center;
          align-items: end;
          img {
            width: 71%;
          }
        }
      }
      .mobileCoachSportBox {
        height: 313px;
        width: 100%;
        max-width: 100%;
        margin: auto;
        margin-top: 10px;
        padding: 10px;

        .box {
          background-color: white;
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
          border-radius: 14px;
          width: 48%;
          margin-right: 2%;
          height: 154px;
          display: flex;
          justify-content: center;
          align-items: end;
          justify-content: center;

          align-items: end;
        }
      }
      .stepInfo {
        img {
          width: 140px;
        }
        h2 {
          font-family: $spartanBold;
          font-size: 80px;
        }
        h3 {
          font-family: $spartanBold;
          font-size: 50px;
        }
        p {
          font-size: 24px;
        }
        .letStartBtn {
          border-radius: 16px;
          background-color: black;
          min-height: 64px;
          width: 90%;
          color: white;
          overflow: hidden;
          width: 362px;
          position: relative;
          padding: 19px;
          span {
            font-size: 24px;
          }
          .circle {
            width: 122px;
            height: 122px;
            background-color: #3d3d3df5;
            position: absolute;
            right: 0;
            border-radius: 64px;
            transition: all 0.2s linear;
            top: 2px;
            img {
              margin: auto;
              display: block;
              width: 80px;
              margin-top: 20px;
            }
          }
          &:hover {
            .circle {
              background-color: #323232f5;
            }
          }
        }
      }
      .letStartBtnMobile {
        border-radius: 16px;
        font-size: 20px;
        font-family: $spartanBold;
        background-color: #a347f1;
        display: block;
        padding: 10px;
        width: 100%;
        color: white;
      }
    }
    .section4 {
      background: linear-gradient(
        90deg,
        rgba(228, 233, 254, 1) 0%,
        rgba(223, 196, 251, 1) 100%
      );
      height: 100vh;

      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        font-size: 22px;
        font-family: $spartanVeryBold;
        margin-bottom: 20px;
      }
      .toolsWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        .tools1 {
          width: 62%;
          margin-left: -42%;
        }
        .tools2 {
          width: 62%;
          margin-top: -38px;
          margin-right: -42%;
        }
        .tools3 {
          width: 62%;
          margin-top: -85px;
          margin-left: -42%;
          z-index: 10;
        }
        .tools4 {
          width: 62%;
          margin-top: -54px;
          margin-right: -42%;
        }
      }
      .letStartBtnMobile {
        border-radius: 16px;
        font-size: 20px;
        font-family: $openSansBold;
        background-color: #a347f1;
        display: block;
        padding: 10px;
        width: 80%;
        color: white;
      }
    }
    .section5 {
      @media screen and (max-width: 767px) {
        background-color: rgba(255, 154, 124, 0.23);
      }
      height: 100vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        font-size: 22px;
        font-family: $spartanVeryBold;
        margin-bottom: 20px;
      }
      .foodWrapper {
        width: 100%;
        display: flex;
        .foodBox {
          background-color: white;
          border-radius: 16px;
          width: 42%;
          margin-left: 5%;
          padding-bottom: 10px;
          .saladPlate {
            width: 70%;
            margin: auto;
            margin-top: -59px;
          }
          .title {
            font-family: $spartanMedium;
            font-size: 16px;
            text-align: center;
            display: block;
            margin-bottom: 5px;
          }
          .calTimeBox {
            display: flex;
            justify-content: center;

            align-items: center;
            img {
              width: 30px;
              height: 30px;
            }
            span {
              font-size: 12px;
              font-family: $openSansBold;
            }
          }
          .fatBox {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f7f7f7;
            border-radius: 12px;
            width: 95%;
            height: 40px;
            margin: auto;
            margin-top: 10px;
            .grayTitle {
              color: rgba(0, 0, 0, 0.4);
              font-size: 12px;
              display: block;
            }
            .value {
              font-family: $spartanBold;
              font-size: 12px;
              display: block;
              text-align: center;
            }
            .pipe {
              width: 1px;
              height: 18px;
              background-color: rgba(0, 0, 0, 0.14);
              margin: 5px;
            }
          }
        }
      }

      .letStartBtnMobile {
        border-radius: 16px;
        font-size: 20px;
        font-family: $openSansBold;
        background-color: #ff9170;
        display: block;
        padding: 10px;
        width: 90%;
        color: white;
      }
    }
  }
  .basicInfoWrapperMobile {
    position: relative;
    height: 100vh;
    .progressBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      position: relative;
      .arrow {
        width: 25px;
        height: 25px;
        position: absolute;
        left: 18px;
        top: -8px;
      }
    }
    .bodyFatSelectorBox {
      border-radius: 6px;
      background-color: rgba(244, 244, 244, 1);
      width: 100%;
      position: relative;
      .labelMin {
        position: absolute;
        left: 0;
        font-size: 14px;
        font-family: $spartanLight;
        top: 27px;
      }
      .labelMax {
        position: absolute;
        right: 0;
        font-size: 14px;
        font-family: $spartanLight;
        top: 27px;
      }
      height: 17px;
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      * {
        transition: all 0.1s linear;
      }
      .item {
        width: 6px;
        height: 6px;
        background-color: rgba(181, 181, 181, 1);
        display: block;
        border-radius: 50px;
        position: relative;
        .tooltip {
          font-family: $spartanBold;
          font-size: 16px;
          position: absolute;
          top: -25px;
          display: none;
          width: 70px;
          margin-left: 23px;
        }
        &.active {
          background-color: white;
          border: 3px solid rgba(146, 108, 255, 1);
          height: 25px;
          width: 25px;
          display: flex;
          justify-content: center;
          align-items: center;

          .tooltip {
            display: block;
          }
          .core {
            display: block;
            background-color: rgba(146, 108, 255, 1);
            width: 11px;
            height: 11px;
            border-radius: 30px;
          }
        }
      }
    }
    .bodyImage {
      display: block;
      margin: auto;
      width: 37%;
      @media screen and (min-height: 741px) {
        width: 45%;
      }
    }
    .title {
      font-weight: 700;
      font-size: 24px;
      font-family: $spartanBold;
    }
    .help {
      border: 1px solid #efefef;
      border-radius: 16px;
      min-height: 100px;
      font-family: $spartanLight;
      color: rgba(0, 0, 0, 0.4);
      img {
        width: 30px !important;
        height: 30px !important;
        margin-right: auto;
      }
      p {
        width: 85%;
      }
    }
    .genderBox {
      position: absolute;
      width: 90%;
      bottom: 30px;
      .item {
        width: 46%;
        height: 152px;
        border-radius: 12px;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
        .title {
          font-family: $spartanBold;
          font-size: 16px;
          margin-top: 20px;
        }
        .genderImage {
          margin-top: -100px;
        }
      }
    }
    .letStartBtnMobile {
      border-radius: 16px;
      font-size: 20px;
      font-family: $openSansBold;
      background-color: #a347f1;
      display: block;
      padding: 10px;
      width: 90%;
      margin: auto;
      color: white;
      margin-top: 60px;
      @media screen and (min-height: 741px) {
        margin-top: 130px;
      }
    }
    .goalBox {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 16px;
      min-height: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        width: 140px;
      }
      .text {
        color: rgba(0, 0, 0, 0.7);
        font-family: $spartanBold;
        font-size: 18px;
      }
    }
    .swiper-slide {
      height: 180px;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      cursor: pointer;
      .myRing {
        border: 14px solid rgba(163, 71, 241, 0.09);
        width: 170px;
        height: 170px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .swiperInfo {
      .title {
        font-family: $spartanBold;
        font-size: 20px;
        text-align: center;
        display: block;
      }
      .text {
        font-family: $spartanMedium;
        font-size: 18px;
        text-align: center;
        display: block;
        min-height: 54px;
      }
    }
    .swiperStatus {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      &.active1 {
        .bar:nth-child(1) {
          background-color: rgba(0, 213, 183, 1);
        }
      }
      &.active2 {
        .bar:nth-child(1) {
          background-color: rgba(253, 131, 188, 1);
        }
        .bar:nth-child(2) {
          background-color: rgba(253, 131, 188, 1);
        }
      }
      &.active3 {
        .bar:nth-child(1) {
          background-color: rgba(255, 154, 124, 1);
        }
        .bar:nth-child(2) {
          background-color: rgba(255, 154, 124, 1);
        }
        .bar:nth-child(3) {
          background-color: rgba(255, 154, 124, 1);
        }
      }

      &.active4 {
        .bar:nth-child(1) {
          background-color: rgba(108, 149, 255, 1);
        }
        .bar:nth-child(2) {
          background-color: rgba(108, 149, 255, 1);
        }
        .bar:nth-child(3) {
          background-color: rgba(108, 149, 255, 1);
        }
        .bar:nth-child(4) {
          background-color: rgba(108, 149, 255, 1);
        }
      }
      &.active5 {
        .bar {
          background-color: rgba(146, 108, 255, 1);
        }
      }
      .bar {
        display: block;
        width: 38px;
        border-radius: 33px;
        background-color: rgba(244, 244, 244, 1);
      }
      .bar1 {
        height: 60px;
      }
      .bar2 {
        height: 84px;
      }
      .bar3 {
        height: 118px;
      }
      .bar4 {
        height: 147px;
      }
      .bar5 {
        height: 173px;
      }
    }
    .replyBox {
      background-color: rgba(244, 244, 244, 1);
      border-radius: 16px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-family: $spartanBold;
      margin-top: 20px;
    }
    .yesNoBox {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 40%;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        font-size: 18px;
        height: 70px;
        width: 153px;
        font-family: $spartanBold;
        background-color: rgba(244, 244, 244, 1);
        outline: none;
        img{
          margin-right: 20px;
          width: 24px;

        }
      }
    }
  }
  .basicInfoWrapper{
    position: relative;
    height: 100vh;
    .title {
      font-weight: 700;
      font-size: 48px;
      font-family: $spartanBold;
    }
    .help {
      border: 1px solid #efefef;
      border-radius: 16px;
      min-height: 100px;
      font-family: $spartanLight;
      color: rgba(0, 0, 0, 0.4);
      width: 565px;
      max-width: 100%;
      margin: auto;
      img {
        width: 30px !important;
        height: 30px !important;
        margin-right: auto;
      }
      p {
        width: 85%;
      }
    }
    .progressBox {
      display: flex;
      width: 1360px;
      height: 125px;
      max-width: 100%;
      justify-content: center;
      background-color: rgba(252, 250, 254, 1);
      border-radius: 24px;
      align-items: center;
      margin-top: 20px;
      margin: auto;
      position: relative;
      .arrow {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 30px;
        cursor: pointer;
      }
      .close{
       /*  margin-left: auto; */
       position: absolute;
       top: 42px;
       right: 30px;
       cursor: pointer;
      }
    }
    .genderBox {
      
      width: 574px;
      max-width: 100%;
      margin: auto;
      margin-top: 197px;
      .item {
        width: 46%;
        height: 269px;
        border-radius: 12px;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        .title {
          font-family: $spartanBold;
          font-size: 16px;
          margin-top: 20px;
        }
        .genderImage {
          margin-top: -120px;
        }
      }
    }
    .bodyImage {
      display: block;
      margin: auto;
      height: 400px;
     
    }
    .bodyFatSelectorBox {
      border-radius: 6px;
      background-color: rgba(244, 244, 244, 1);
      width: 386px;
      max-width: 100%;
      margin: auto;
      position: relative;
      .labelMin {
        position: absolute;
        left: 0;
        font-size: 14px;
        font-family: $spartanLight;
        top: 27px;
      }
      .labelMax {
        position: absolute;
        right: 0;
        font-size: 14px;
        font-family: $spartanLight;
        top: 27px;
      }
      height: 17px;
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      * {
        transition: all 0.1s linear;
      }
      .item {
        width: 10px;
        height: 10px;
        background-color: rgba(181, 181, 181, 1);
        display: block;
        border-radius: 50px;
        cursor: pointer;
        position: relative;
        .tooltip {
          font-family: $spartanBold;
          font-size: 16px;
          position: absolute;
          top: -25px;
          display: none;
          width: 70px;
          margin-left: 23px;
        }
        &.active {
          background-color: white;
          border: 3px solid rgba(146, 108, 255, 1);
          height: 25px;
          width: 25px;
          display: flex;
          justify-content: center;
          align-items: center;

          .tooltip {
            display: block;
          }
          .core {
            display: block;
            background-color: rgba(146, 108, 255, 1);
            width: 11px;
            height: 11px;
            border-radius: 30px;
          }
        }
      }
    }
    .letStartBtn {
      border-radius: 16px;
      font-size: 20px;
      font-family: $openSansBold;
      background-color: #a347f1;
      display: block;
      padding: 10px;
      width: 430px;
      max-width: 100%;
      margin: auto;
      color: white;
      margin-top: 60px;
      @media screen and (min-height: 741px) {
        margin-top: 130px;
      }
    }
    .goalBox {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 16px;
      width: 670px;
      max-width: 100%;
      cursor: pointer;
      min-height: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        width: 140px;
      }
      .text {
        color: rgba(0, 0, 0, 0.7);
        font-family: $spartanBold;
        font-size: 18px;
      }
    }
    .swiperWrapper{
      width: 550px;
      max-width: 100%;
      margin: auto;
      .swiper-slide {
        height: 180px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        margin-top: 30px;
        .myRing {
          border: 14px solid rgba(163, 71, 241, 0.09);
          width: 170px;
          height: 170px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .swiperInfo {
        .title {
          font-family: $spartanBold;
          font-size: 20px;
          text-align: center;
          display: block;
        }
        .text {
          font-family: $spartanMedium;
          font-size: 18px;
          text-align: center;
          display: block;
          min-height: 54px;
        }
      }
      .swiperStatus {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        &.active1 {
          .bar:nth-child(1) {
            background-color: rgba(0, 213, 183, 1);
          }
        }
        &.active2 {
          .bar:nth-child(1) {
            background-color: rgba(253, 131, 188, 1);
          }
          .bar:nth-child(2) {
            background-color: rgba(253, 131, 188, 1);
          }
        }
        &.active3 {
          .bar:nth-child(1) {
            background-color: rgba(255, 154, 124, 1);
          }
          .bar:nth-child(2) {
            background-color: rgba(255, 154, 124, 1);
          }
          .bar:nth-child(3) {
            background-color: rgba(255, 154, 124, 1);
          }
        }
  
        &.active4 {
          .bar:nth-child(1) {
            background-color: rgba(108, 149, 255, 1);
          }
          .bar:nth-child(2) {
            background-color: rgba(108, 149, 255, 1);
          }
          .bar:nth-child(3) {
            background-color: rgba(108, 149, 255, 1);
          }
          .bar:nth-child(4) {
            background-color: rgba(108, 149, 255, 1);
          }
        }
        &.active5 {
          .bar {
            background-color: rgba(146, 108, 255, 1);
          }
        }
        .bar {
          display: block;
          width: 38px;
          border-radius: 33px;
          background-color: rgba(244, 244, 244, 1);
        }
        .bar1 {
          height: 60px;
        }
        .bar2 {
          height: 84px;
        }
        .bar3 {
          height: 118px;
        }
        .bar4 {
          height: 147px;
        }
        .bar5 {
          height: 173px;
        }
      }
    }
    .replyBox {
      background-color: rgba(244, 244, 244, 1);
      border-radius: 16px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-family: $spartanBold;
      margin: auto;
      margin-top: 20px;
      width: 670px;
      cursor: pointer;
    }
    .yesNoBox {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 700px;
      max-width: 100%;
     
      margin: auto;
      margin-top: 10%;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        font-size: 18px;
        height: 70px;
        width: 325px;
        font-family: $spartanBold;
        background-color: rgba(244, 244, 244, 1);
        outline: none;
        img{
          margin-right: 20px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.comingSoon{
  width: 100%;
  height: 100vh;
  background-color: #ebd3ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3{
    font-size: 43px;
    color: #393939;
  }
}