@import url(fontenglish.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  padding: 0;
}

.bodyLtr {
  font-family: openSansMedium, sans-serif;
}
.bodyLtr .langBox {
  font-family: openSansBold;
  position: absolute;
  right: 240px;
}
.bodyLtr .langBox button {
  margin-right: 10px;
  font-weight: 600;
}
.bodyLtr .langBox button.active {
  background-color: rgba(12, 12, 12, 0.2117647059);
  padding: 5px;
  border-radius: 5px;
  padding-top: 8px;
}
@media screen and (max-width: 768px) {
  .bodyLtr .langBox {
    position: static;
    display: flex;
    flex-direction: column;
  }
}
.bodyLtr .otherLangBox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.bodyLtr .mainMenu {
  width: 100%;
  position: fixed;
  left: 0;
  margin: auto;
  padding: 20px;
  z-index: 100;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
  padding-right: 30px;
  padding-left: 30px;
  transition: all 0.2s linear;
  z-index: 200;
  top: 0;
}
.bodyLtr .mainMenu.tiny {
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.bodyLtr .mainMenu.fixMenu {
  position: fixed !important;
  top: 0 !important;
}
.bodyLtr .mainMenu .logo {
  width: 223px;
  height: 57px;
}
.bodyLtr .mainMenu nav a {
  font-size: 20px;
}
.bodyLtr .mainMenu .action {
  width: 187px;
  background-color: #a347f1;
  border-radius: 10px;
  color: white;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bodyLtr .mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgba(255, 255, 255, 0.5); */
  justify-content: space-between;
  z-index: 100;
}
.bodyLtr .mobileMenu .logo {
  margin-right: -29px;
  width: 165px;
}
.bodyLtr .homeWrapper .section1 {
  height: 100vh;
  padding-bottom: 20px;
  background: rgb(228, 233, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(228, 233, 254) 0%, rgb(223, 196, 251) 100%);
}
@media screen and (min-width: 991px) {
  .bodyLtr .homeWrapper .section1 {
    padding-top: 97px;
  }
}
.bodyLtr .homeWrapper .section1 .watermark {
  font-size: 284px;
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0px;
  left: 21px;
  line-height: 295px;
  z-index: 0;
}
@media screen and (max-width: 1920px) {
  .bodyLtr .homeWrapper .section1 .watermark {
    font-size: 237px;
    top: -66px;
    line-height: 254px;
  }
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section1 .watermark {
    font-size: 136px;
    top: -12px;
    line-height: 147px;
  }
}
.bodyLtr .homeWrapper .section1 .body {
  position: relative;
  width: 100%;
}
.bodyLtr .homeWrapper .section1 .body .rightBox {
  width: 50%;
}
.bodyLtr .homeWrapper .section1 .body .rightBox .plate {
  width: 90%;
}
@media screen and (min-width: 1920px) {
  .bodyLtr .homeWrapper .section1 .body .rightBox .plate {
    width: 100%;
  }
}
.bodyLtr .homeWrapper .section1 .body .leftBox {
  width: 50%;
  display: flex;
  padding-left: 3%;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .bodyLtr .homeWrapper .section1 .body .leftBox {
    width: 100%;
    padding-right: 0;
  }
}
@media only screen and (min-width: 375px) {
  .bodyLtr .homeWrapper .section1 .body .leftBox .letsGoImg {
    width: 85%;
  }
}
.bodyLtr .homeWrapper .section1 .body .learn {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.bodyLtr .homeWrapper .section1 .body .learn strong {
  color: #a347f1;
  font-weight: 700;
}
.bodyLtr .homeWrapper .section1 .body .welcome {
  font-size: 62px;
  z-index: 1;
  position: relative;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section1 .body .welcome {
    font-size: 50px;
  }
}
@media screen and (min-width: 1920px) {
  .bodyLtr .homeWrapper .section1 .body .welcome {
    font-size: 85px;
  }
}
.bodyLtr .homeWrapper .section1 .body p {
  font-size: 24px;
  font-family: openSansBold;
}
@media screen and (max-width: 767px) {
  .bodyLtr .homeWrapper .section1 .body p {
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6980392157);
  }
}
@media only screen and (min-width: 375px) {
  .bodyLtr .homeWrapper .section1 .body p {
    font-size: 17px;
  }
}
.bodyLtr .homeWrapper .section1 .body .coachTeamBox {
  border-radius: 32px;
  background-color: #a347f1;
  min-height: 250px;
  margin-top: 15%;
  position: relative;
  width: 760px;
  max-width: 100%;
  color: white;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section1 .body .coachTeamBox {
    width: 561px;
    margin-top: 10%;
    min-height: 210px;
  }
}
@media screen and (min-height: 900px) {
  .bodyLtr .homeWrapper .section1 .body .coachTeamBox {
    margin-top: 27%;
  }
}
.bodyLtr .homeWrapper .section1 .body .coachTeamBox .bodyImg {
  position: absolute;
  bottom: 0px;
  left: -3px;
  width: 308px;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section1 .body .coachTeamBox .bodyImg {
    width: 224px;
  }
}
.bodyLtr .homeWrapper .section1 .body .coachTeamBox .action {
  padding-left: 85px;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section1 .body .coachTeamBox .action {
    padding-left: 45px;
  }
}
.bodyLtr .homeWrapper .section1 .body .coachTeamBox .action .title {
  font-size: 24px;
}
.bodyLtr .homeWrapper .section1 .body .coachTeamBox .action .text {
  font-size: 20px;
}
.bodyLtr .homeWrapper .section1 .body .coachTeamBox .action .letStartBtn {
  border-radius: 16px;
  background-color: white;
  min-height: 75px;
  margin-top: 50px;
  width: 90%;
  color: black;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section1 .body .coachTeamBox .action .letStartBtn {
    margin-top: 30px;
    min-height: 67px;
  }
}
.bodyLtr .homeWrapper .section1 .body .coachTeamBox .action .letStartBtn span {
  font-size: 24px;
}
.bodyLtr .homeWrapper .section1 .body .coachTeamBox .action .letStartBtn .circle {
  width: 122px;
  height: 122px;
  background-color: rgba(163, 71, 241, 0.0784313725);
  position: absolute;
  right: 0;
  border-radius: 64px;
  transition: all 0.2s linear;
  top: 2px;
}
.bodyLtr .homeWrapper .section1 .body .coachTeamBox .action .letStartBtn .circle img {
  margin: auto;
  display: block;
  margin-top: -7px;
}
.bodyLtr .homeWrapper .section1 .body .coachTeamBox .action .letStartBtn:hover .circle {
  background-color: rgba(163, 71, 241, 0.3607843137);
}
.bodyLtr .homeWrapper .section1 .body .letsStartBtnMobile {
  border-radius: 16px;
  font-size: 20px;
  font-family: openSansBold;
  background-color: #a347f1;
  padding: 10px;
  width: 100%;
  color: white;
}
.bodyLtr .homeWrapper .section1 .body .letsStartBtnMobile a {
  display: block;
}
.bodyLtr .homeWrapper .section1 .mobilePlate {
  width: 92%;
}
@media only screen and (min-width: 375px) {
  .bodyLtr .homeWrapper .section1 .mobilePlate {
    width: 100%;
  }
}
.bodyLtr .homeWrapper .section2 {
  background-color: #f5e170;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .bodyLtr .homeWrapper .section2 {
    background-color: rgb(255, 249, 227);
  }
}
.bodyLtr .homeWrapper .section2 .tooltip1 {
  position: absolute;
  background-color: white;
  width: 200px;
  padding: 5px;
  border-radius: 13px;
  top: 15%;
  left: 22%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section2 .tooltip1 {
    top: 2%;
  }
}
.bodyLtr .homeWrapper .section2 .tooltip1 .info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.bodyLtr .homeWrapper .section2 .tooltip1 strong {
  font-size: 16px;
}
.bodyLtr .homeWrapper .section2 .tooltip2 {
  position: absolute;
  background-color: white;
  width: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  bottom: 10%;
  right: 5%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section2 .tooltip2 {
    right: -2%;
  }
}
.bodyLtr .homeWrapper .section2 .tooltip2 .info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.bodyLtr .homeWrapper .section2 .tooltip2 strong {
  font-size: 16px;
}
.bodyLtr .homeWrapper .section2 .tooltip3 {
  background-color: white;
  width: 100%;
  padding: 5px;
  border-radius: 13px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
}
.bodyLtr .homeWrapper .section2 .tooltip3 .info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.bodyLtr .homeWrapper .section2 .tooltip3 strong {
  font-size: 16px;
}
.bodyLtr .homeWrapper .section2 .plateBox {
  /* height: 100%; */
  display: flex;
  width: 615px;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 100%;
  padding: 20px;
  padding-top: 34px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.356);
  position: relative;
}
.bodyLtr .homeWrapper .section2 .plateBox .plate {
  z-index: 1;
}
.bodyLtr .homeWrapper .section2 .plateBox .lemon {
  position: absolute;
  right: 26px;
  top: -60px;
  z-index: 0;
}
.bodyLtr .homeWrapper .section2 .plateBox .tomato {
  position: absolute;
  left: -40px;
  bottom: 4px;
  z-index: 0;
}
.bodyLtr .homeWrapper .section2 .fullPlate {
  width: 80%;
}
@media screen and (max-width: 991px) {
  .bodyLtr .homeWrapper .section2 .fullPlate {
    width: 100%;
  }
}
.bodyLtr .homeWrapper .section2 .leftBox {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  .bodyLtr .homeWrapper .section2 .leftBox {
    position: static;
    width: 100%;
    display: block;
    justify-content: center;
  }
}
.bodyLtr .homeWrapper .section2 .rightBox {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .bodyLtr .homeWrapper .section2 .rightBox {
    width: 100%;
  }
}
.bodyLtr .homeWrapper .section2 .rightBox .title {
  font-size: 96px;
  height: 91px;
  color: white;
  align-items: baseline;
}
.bodyLtr .homeWrapper .section2 .rightBox .title2 {
  font-size: 96px;
  height: 91px;
  color: black;
  align-items: baseline;
  padding-left: 214px;
}
.bodyLtr .homeWrapper .section2 .rightBox p {
  font-size: 36px;
}
@media screen and (max-width: 767px) {
  .bodyLtr .homeWrapper .section2 .rightBox p {
    font-size: 20px;
    text-align: center;
    font-family: openSansBold;
    color: rgba(0, 0, 0, 0.7019607843);
  }
}
.bodyLtr .homeWrapper .section2 .rightBox .letStartBtn {
  border-radius: 16px;
  background-color: black;
  min-height: 64px;
  width: 90%;
  color: white;
  overflow: hidden;
  width: 362px;
  position: relative;
  padding: 19px;
}
.bodyLtr .homeWrapper .section2 .rightBox .letStartBtn span {
  font-size: 24px;
}
.bodyLtr .homeWrapper .section2 .rightBox .letStartBtn .circle {
  width: 122px;
  height: 122px;
  background-color: rgba(61, 61, 61, 0.9607843137);
  position: absolute;
  right: 0;
  border-radius: 64px;
  transition: all 0.2s linear;
  top: 2px;
}
.bodyLtr .homeWrapper .section2 .rightBox .letStartBtn .circle img {
  margin: auto;
  display: block;
  width: 80px;
}
.bodyLtr .homeWrapper .section2 .rightBox .letStartBtn:hover .circle {
  background-color: rgba(50, 50, 50, 0.9607843137);
}
.bodyLtr .homeWrapper .section2 .rightBox .letsStartBtnMobile {
  border-radius: 16px;
  font-size: 20px;
  font-family: openSansBold;
  background-color: #ff9170;
  padding: 10px;
  width: 100%;
  color: white;
}
.bodyLtr .homeWrapper .section3 {
  width: 100%;
  background-color: #eef9ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyLtr .homeWrapper .section3 .lineTab {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section3 .lineTab {
    margin-top: 42px;
  }
}
.bodyLtr .homeWrapper .section3 .lineTab .tab {
  background-color: #c9dbe5;
  height: 6px;
  border-radius: 9px;
  width: 48px;
  margin-left: 10px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.bodyLtr .homeWrapper .section3 .lineTab .tab.active {
  width: 89px;
  /* height: 6px; */
  background-color: #a347f1;
}
.bodyLtr .homeWrapper .section3 .tabTitle {
  font-family: spartanBold;
  font-size: 18px;
}
.bodyLtr .homeWrapper .section3 .tabTitle .arm {
  width: 46px;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section3 .tabTitle .arm {
    display: none;
  }
}
@media screen and (min-width: 1350px) {
  .bodyLtr .homeWrapper .section3 .tabTitle {
    font-size: 27px;
  }
}
.bodyLtr .homeWrapper .section3 .title {
  font-size: 22px;
  font-family: spartanVeryBold;
}
.bodyLtr .homeWrapper .section3 p {
  font-size: 20px;
  font-family: openSansBold;
  color: rgba(0, 0, 0, 0.7019607843);
}
.bodyLtr .homeWrapper .section3 .stepNumberBox {
  background-color: #a347f1;
  color: white;
  padding: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: spartanBold;
}
.bodyLtr .homeWrapper .section3 .mobileGenderBox {
  background-color: white;
  border-radius: 24px;
  width: 46%;
  text-align: center;
}
.bodyLtr .homeWrapper .section3 .mobileGenderBox .genderTitle {
  background-color: #e7f6ff;
  padding: 10px;
  display: flex;
  font-size: 16px;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  border-radius: 16px;
}
.bodyLtr .homeWrapper .section3 .mobileMuscleBox {
  border-radius: 24px;
  width: 100%;
  height: 297px;
  text-align: center;
}
.bodyLtr .homeWrapper .section3 .mobileMuscleBox .muscle {
  height: 270px;
  display: block;
}
.bodyLtr .homeWrapper .section3 .genderBox {
  background-color: white;
  border-radius: 24px;
  width: 48%;
  text-align: center;
}
.bodyLtr .homeWrapper .section3 .genderBox .genderTitle {
  background-color: #e7f6ff;
  padding: 10px;
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border-radius: 16px;
}
.bodyLtr .homeWrapper .section3 .genderBox .genderTitle img {
  width: 35px;
}
.bodyLtr .homeWrapper .section3 .genderBox .genderBody {
  height: 500px;
}
@media screen and (max-width: 1350px) {
  .bodyLtr .homeWrapper .section3 .genderBox .genderBody {
    height: 300px;
  }
}
.bodyLtr .homeWrapper .section3 .muscleBox {
  height: 598px;
  position: relative;
}
.bodyLtr .homeWrapper .section3 .muscleBox .watermark {
  font-size: 233px;
  font-weight: 600;
  width: 100%;
  position: absolute;
  z-index: 0;
  color: rgba(224, 244, 254, 0.7294117647);
  text-align: center;
  top: 0;
  left: 0;
  line-height: 222px;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section3 .muscleBox {
    height: auto;
  }
}
.bodyLtr .homeWrapper .section3 .muscleBox .genderMuscle {
  height: 500px;
  z-index: 10;
}
@media screen and (max-width: 1350px) {
  .bodyLtr .homeWrapper .section3 .muscleBox .genderMuscle {
    height: 400px;
  }
}
.bodyLtr .homeWrapper .section3 .equipmentBox {
  height: 598px;
  width: 585px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section3 .equipmentBox {
    height: auto;
  }
}
.bodyLtr .homeWrapper .section3 .equipmentBox .box {
  background-color: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  width: 116px;
  height: 116px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* img{
     width: 70%;
   }
   .ball{
      width:50%
   }
   .kettle{
     width:44%
  } */
}
.bodyLtr .homeWrapper .section3 .equipmentBox .label {
  display: block;
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;
}
.bodyLtr .homeWrapper .section3 .mobileEquipmentBox {
  height: 300px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
}
.bodyLtr .homeWrapper .section3 .mobileEquipmentBox .mainWrraper {
  width: 300px;
  margin: auto;
  max-width: 100%;
  overflow: scroll;
}
.bodyLtr .homeWrapper .section3 .mobileEquipmentBox .mainWrraper .scrollWrapper {
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.bodyLtr .homeWrapper .section3 .mobileEquipmentBox .mainWrraper .box {
  background-color: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  width: 116px;
  height: 116px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bodyLtr .homeWrapper .section3 .mobileEquipmentBox .mainWrraper .box .label {
  display: block;
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;
}
.bodyLtr .homeWrapper .section3 .coachSportBox {
  height: 598px;
  width: 585px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section3 .coachSportBox {
    height: auto;
  }
}
.bodyLtr .homeWrapper .section3 .coachSportBox .box {
  background-color: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  width: 48%;
  margin-right: 2%;
  height: 174px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.bodyLtr .homeWrapper .section3 .coachSportBox .box img {
  width: 71%;
}
.bodyLtr .homeWrapper .section3 .mobileCoachSportBox {
  height: 313px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}
.bodyLtr .homeWrapper .section3 .mobileCoachSportBox .box {
  background-color: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  width: 48%;
  margin-right: 2%;
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: end;
  justify-content: center;
  align-items: end;
}
.bodyLtr .homeWrapper .section3 .stepInfo img {
  width: 140px;
}
.bodyLtr .homeWrapper .section3 .stepInfo h2 {
  font-family: spartanBold;
  font-size: 80px;
}
.bodyLtr .homeWrapper .section3 .stepInfo h3 {
  font-family: spartanBold;
  font-size: 50px;
}
.bodyLtr .homeWrapper .section3 .stepInfo p {
  font-size: 24px;
}
.bodyLtr .homeWrapper .section3 .stepInfo .letStartBtn {
  border-radius: 16px;
  background-color: black;
  min-height: 64px;
  width: 90%;
  color: white;
  overflow: hidden;
  width: 362px;
  position: relative;
  padding: 19px;
}
.bodyLtr .homeWrapper .section3 .stepInfo .letStartBtn span {
  font-size: 24px;
}
.bodyLtr .homeWrapper .section3 .stepInfo .letStartBtn .circle {
  width: 122px;
  height: 122px;
  background-color: rgba(61, 61, 61, 0.9607843137);
  position: absolute;
  right: 0;
  border-radius: 64px;
  transition: all 0.2s linear;
  top: 2px;
}
.bodyLtr .homeWrapper .section3 .stepInfo .letStartBtn .circle img {
  margin: auto;
  display: block;
  width: 80px;
  margin-top: 20px;
}
.bodyLtr .homeWrapper .section3 .stepInfo .letStartBtn:hover .circle {
  background-color: rgba(50, 50, 50, 0.9607843137);
}
.bodyLtr .homeWrapper .section3 .letStartBtnMobile {
  border-radius: 16px;
  font-size: 20px;
  font-family: spartanBold;
  background-color: #a347f1;
  display: block;
  padding: 10px;
  width: 100%;
  color: white;
}
.bodyLtr .homeWrapper .section4 {
  background: linear-gradient(90deg, rgb(228, 233, 254) 0%, rgb(223, 196, 251) 100%);
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.bodyLtr .homeWrapper .section4.mobile {
  flex-direction: column;
}
.bodyLtr .homeWrapper .section4 .title {
  font-size: 22px;
  font-family: spartanVeryBold;
  margin-bottom: 20px;
}
.bodyLtr .homeWrapper .section4 .toolsWrapper {
  display: flex;
  width: 35%;
}
.bodyLtr .homeWrapper .section4 .toolsWrapper .toolsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bodyLtr .homeWrapper .section4 .textWrapper {
  display: flex;
  width: 49%;
}
.bodyLtr .homeWrapper .section4 .textWrapper .stepInfo img {
  width: 140px;
}
.bodyLtr .homeWrapper .section4 .textWrapper .stepInfo h2 {
  font-family: spartanBold;
  font-size: 80px;
}
@media screen and (max-width: 1366px) {
  .bodyLtr .homeWrapper .section4 .textWrapper .stepInfo h2 {
    font-size: 50px;
  }
}
.bodyLtr .homeWrapper .section4 .textWrapper .stepInfo h3 {
  font-family: spartanBold;
  font-size: 40px;
}
.bodyLtr .homeWrapper .section4 .textWrapper .stepInfo p {
  font-size: 24px;
}
.bodyLtr .homeWrapper .section4 .textWrapper .stepInfo .letStartBtn {
  border-radius: 16px;
  background-color: black;
  min-height: 64px;
  width: 90%;
  color: white;
  overflow: hidden;
  width: 362px;
  position: relative;
  padding: 19px;
}
.bodyLtr .homeWrapper .section4 .textWrapper .stepInfo .letStartBtn span {
  font-size: 24px;
}
.bodyLtr .homeWrapper .section4 .textWrapper .stepInfo .letStartBtn .circle {
  width: 122px;
  height: 122px;
  background-color: rgba(61, 61, 61, 0.9607843137);
  position: absolute;
  right: 0;
  border-radius: 64px;
  transition: all 0.2s linear;
  top: 2px;
}
.bodyLtr .homeWrapper .section4 .textWrapper .stepInfo .letStartBtn .circle img {
  margin: auto;
  display: block;
  width: 80px;
  margin-top: 20px;
}
.bodyLtr .homeWrapper .section4 .textWrapper .stepInfo .letStartBtn:hover .circle {
  background-color: rgba(50, 50, 50, 0.9607843137);
}
.bodyLtr .homeWrapper .section4 .toolsWrapperMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.bodyLtr .homeWrapper .section4 .toolsWrapperMobile .tools1 {
  width: 62%;
  margin-left: -42%;
}
.bodyLtr .homeWrapper .section4 .toolsWrapperMobile .tools2 {
  width: 62%;
  margin-top: -38px;
  margin-right: -42%;
}
.bodyLtr .homeWrapper .section4 .toolsWrapperMobile .tools3 {
  width: 62%;
  margin-top: -85px;
  margin-left: -42%;
  z-index: 10;
}
.bodyLtr .homeWrapper .section4 .toolsWrapperMobile .tools4 {
  width: 62%;
  margin-top: -54px;
  margin-right: -42%;
}
.bodyLtr .homeWrapper .section4 .letStartBtnMobile {
  border-radius: 16px;
  font-size: 20px;
  font-family: openSansBold;
  background-color: #a347f1;
  display: block;
  padding: 10px;
  width: 80%;
  color: white;
}
.bodyLtr .homeWrapper .section5 {
  background-color: #FFF5DC;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .bodyLtr .homeWrapper .section5 {
    background-color: rgba(255, 154, 124, 0.23);
  }
}
.bodyLtr .homeWrapper .section5 .mainTitle {
  font-size: 40px;
  font-family: spartanBold;
}
.bodyLtr .homeWrapper .section5 .mainDtl {
  font-size: 20px;
  font-family: spartanMedium;
  text-align: center;
}
.bodyLtr .homeWrapper .section5 .title {
  font-size: 22px;
  font-family: spartanVeryBold;
  margin-bottom: 20px;
}
.bodyLtr .homeWrapper .section5 .tomato {
  width: 201px;
  position: absolute;
  left: 10px;
  top: 20px;
}
.bodyLtr .homeWrapper .section5 .freshGreen {
  width: 201px;
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.bodyLtr .homeWrapper .section5 .foodWrapper {
  width: 100%;
  display: flex;
  z-index: 2;
}
@media screen and (min-width: 991px) {
  .bodyLtr .homeWrapper .section5 .foodWrapper {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
  }
  .bodyLtr .homeWrapper .section5 .foodWrapper .foodBox {
    width: 240px !important;
    margin-left: 0 !important;
  }
}
.bodyLtr .homeWrapper .section5 .foodWrapper .foodBox {
  background-color: white;
  border-radius: 16px;
  width: 42%;
  margin-left: 5%;
  padding-bottom: 10px;
}
.bodyLtr .homeWrapper .section5 .foodWrapper .foodBox .saladPlate {
  width: 70%;
  margin: auto;
  margin-top: -59px;
}
.bodyLtr .homeWrapper .section5 .foodWrapper .foodBox .title {
  font-family: spartanMedium;
  font-size: 16px;
  text-align: center;
  display: block;
  margin-bottom: 5px;
}
.bodyLtr .homeWrapper .section5 .foodWrapper .foodBox .calTimeBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyLtr .homeWrapper .section5 .foodWrapper .foodBox .calTimeBox img {
  width: 30px;
  height: 30px;
}
.bodyLtr .homeWrapper .section5 .foodWrapper .foodBox .calTimeBox span {
  font-size: 12px;
  font-family: openSansBold;
}
.bodyLtr .homeWrapper .section5 .foodWrapper .foodBox .fatBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 12px;
  width: 95%;
  height: 40px;
  margin: auto;
  margin-top: 10px;
}
.bodyLtr .homeWrapper .section5 .foodWrapper .foodBox .fatBox .grayTitle {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  display: block;
}
.bodyLtr .homeWrapper .section5 .foodWrapper .foodBox .fatBox .value {
  font-family: spartanBold;
  font-size: 12px;
  display: block;
  text-align: center;
}
.bodyLtr .homeWrapper .section5 .foodWrapper .foodBox .fatBox .pipe {
  width: 1px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.14);
  margin: 5px;
}
.bodyLtr .homeWrapper .section5 .letStartBtnMobile {
  border-radius: 16px;
  font-size: 20px;
  font-family: openSansBold;
  background-color: #ff9170;
  display: block;
  padding: 10px;
  width: 90%;
  color: white;
}
.bodyLtr .basicInfoWrapperMobile {
  position: relative;
  height: 100vh;
}
.bodyLtr .basicInfoWrapperMobile .contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
}
.bodyLtr .basicInfoWrapperMobile .progressBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}
.bodyLtr .basicInfoWrapperMobile .progressBox .arrow {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 18px;
  top: -8px;
}
.bodyLtr .basicInfoWrapperMobile .bodyFatSelectorBox {
  border-radius: 6px;
  background-color: rgb(244, 244, 244);
  width: 100%;
  position: relative;
  height: 17px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.bodyLtr .basicInfoWrapperMobile .bodyFatSelectorBox .labelMin {
  position: absolute;
  left: 0;
  font-size: 14px;
  font-family: spartanLight;
  top: 27px;
}
.bodyLtr .basicInfoWrapperMobile .bodyFatSelectorBox .labelMax {
  position: absolute;
  right: 0;
  font-size: 14px;
  font-family: spartanLight;
  top: 27px;
}
.bodyLtr .basicInfoWrapperMobile .bodyFatSelectorBox * {
  transition: all 0.1s linear;
}
.bodyLtr .basicInfoWrapperMobile .bodyFatSelectorBox .item {
  width: 6px;
  height: 6px;
  background-color: rgb(181, 181, 181);
  display: block;
  border-radius: 50px;
  position: relative;
}
.bodyLtr .basicInfoWrapperMobile .bodyFatSelectorBox .item .tooltip {
  font-family: spartanBold;
  font-size: 16px;
  position: absolute;
  top: -25px;
  display: none;
  width: 70px;
  margin-left: 23px;
}
.bodyLtr .basicInfoWrapperMobile .bodyFatSelectorBox .item.active {
  background-color: white;
  border: 3px solid rgb(146, 108, 255);
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyLtr .basicInfoWrapperMobile .bodyFatSelectorBox .item.active .tooltip {
  display: block;
}
.bodyLtr .basicInfoWrapperMobile .bodyFatSelectorBox .item.active .core {
  display: block;
  background-color: rgb(146, 108, 255);
  width: 11px;
  height: 11px;
  border-radius: 30px;
}
.bodyLtr .basicInfoWrapperMobile .bodyImage {
  display: block;
  margin: auto;
  width: 37%;
}
@media screen and (min-height: 741px) {
  .bodyLtr .basicInfoWrapperMobile .bodyImage {
    width: 45%;
  }
}
.bodyLtr .basicInfoWrapperMobile .title {
  font-weight: 700;
  font-size: 24px;
  font-family: spartanBold;
}
.bodyLtr .basicInfoWrapperMobile .help {
  border: 1px solid #efefef;
  border-radius: 16px;
  min-height: 100px;
  font-family: spartanLight;
  color: rgba(0, 0, 0, 0.4);
}
.bodyLtr .basicInfoWrapperMobile .help img {
  width: 30px !important;
  height: 30px !important;
  margin-right: auto;
}
.bodyLtr .basicInfoWrapperMobile .help p {
  width: 85%;
}
.bodyLtr .basicInfoWrapperMobile .genderBox {
  position: absolute;
  width: 90%;
  bottom: 30px;
}
.bodyLtr .basicInfoWrapperMobile .genderBox .item {
  width: 46%;
  height: 152px;
  border-radius: 12px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
}
.bodyLtr .basicInfoWrapperMobile .genderBox .item .title {
  font-family: spartanBold;
  font-size: 16px;
  margin-top: 20px;
}
.bodyLtr .basicInfoWrapperMobile .genderBox .item .genderImage {
  margin-top: -100px;
}
.bodyLtr .basicInfoWrapperMobile .letStartBtnMobile {
  border-radius: 16px;
  font-size: 20px;
  font-family: openSansBold;
  background-color: #a347f1;
  display: block;
  padding: 10px;
  width: 90%;
  margin: auto;
  color: white;
  margin-top: 60px;
}
@media screen and (min-height: 741px) {
  .bodyLtr .basicInfoWrapperMobile .letStartBtnMobile {
    margin-top: 130px;
  }
}
.bodyLtr .basicInfoWrapperMobile .goalBox {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bodyLtr .basicInfoWrapperMobile .goalBox img {
  width: 140px;
}
.bodyLtr .basicInfoWrapperMobile .goalBox .text {
  color: rgba(0, 0, 0, 0.7);
  font-family: spartanBold;
  font-size: 18px;
}
.bodyLtr .basicInfoWrapperMobile .swiper-slide {
  height: 180px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}
.bodyLtr .basicInfoWrapperMobile .swiper-slide .myRing {
  border: 14px solid rgba(163, 71, 241, 0.09);
  width: 170px;
  height: 170px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyLtr .basicInfoWrapperMobile .swiperInfo .title {
  font-family: spartanBold;
  font-size: 20px;
  text-align: center;
  display: block;
}
.bodyLtr .basicInfoWrapperMobile .swiperInfo .text {
  font-family: spartanMedium;
  font-size: 18px;
  text-align: center;
  display: block;
  min-height: 54px;
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus.active1 .bar:nth-child(1) {
  background-color: rgb(0, 213, 183);
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus.active2 .bar:nth-child(1) {
  background-color: rgb(253, 131, 188);
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus.active2 .bar:nth-child(2) {
  background-color: rgb(253, 131, 188);
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus.active3 .bar:nth-child(1) {
  background-color: rgb(255, 154, 124);
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus.active3 .bar:nth-child(2) {
  background-color: rgb(255, 154, 124);
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus.active3 .bar:nth-child(3) {
  background-color: rgb(255, 154, 124);
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus.active4 .bar:nth-child(1) {
  background-color: rgb(108, 149, 255);
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus.active4 .bar:nth-child(2) {
  background-color: rgb(108, 149, 255);
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus.active4 .bar:nth-child(3) {
  background-color: rgb(108, 149, 255);
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus.active4 .bar:nth-child(4) {
  background-color: rgb(108, 149, 255);
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus.active5 .bar {
  background-color: rgb(146, 108, 255);
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus .bar {
  display: block;
  width: 38px;
  border-radius: 33px;
  background-color: rgb(244, 244, 244);
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus .bar1 {
  height: 60px;
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus .bar2 {
  height: 84px;
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus .bar3 {
  height: 118px;
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus .bar4 {
  height: 147px;
}
.bodyLtr .basicInfoWrapperMobile .swiperStatus .bar5 {
  height: 173px;
}
.bodyLtr .basicInfoWrapperMobile .replyBox {
  background-color: rgb(244, 244, 244);
  border-radius: 16px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: spartanBold;
  margin-top: 20px;
  width: 100%;
}
.bodyLtr .basicInfoWrapperMobile .yesNoBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40%;
}
.bodyLtr .basicInfoWrapperMobile .yesNoBox button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-size: 18px;
  height: 70px;
  width: 153px;
  font-family: spartanBold;
  background-color: rgb(244, 244, 244);
  outline: none;
}
.bodyLtr .basicInfoWrapperMobile .yesNoBox button img {
  margin-right: 20px;
  width: 24px;
}
.bodyLtr .basicInfoWrapperMobile .rangeWrapper {
  height: 500px;
  text-align: center;
  height: 320px;
  width: 100%;
  text-align: right;
  margin: auto;
  margin-top: 10px;
  position: relative;
  direction: ltr;
  overflow: hidden;
}
.bodyLtr .basicInfoWrapperMobile .rangeWrapper .ruler {
  height: 304px;
  width: 38px;
  position: absolute;
  right: 10px;
  top: 7px;
  /* z-index: 1; */
  direction: rtl;
}
.bodyLtr .basicInfoWrapperMobile .rangeWrapper .ruler .item {
  display: block;
  width: 22px;
  height: 4px;
  background-color: silver;
  margin-top: 6px;
}
.bodyLtr .basicInfoWrapperMobile .rangeWrapper .ruler .item-big {
  display: block;
  width: 38px;
  height: 4px;
  background-color: silver;
  margin-top: 6px;
}
.bodyLtr .basicInfoWrapperMobile .rangeWrapper .human {
  position: absolute;
  /*   top: 0; */
  height: 325px;
  right: 28%;
  z-index: -1;
}
.bodyLtr .basicInfoWrapperMobile .valueChangerBox {
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 56px;
  width: 300px;
  border-radius: 12px;
  margin: auto;
  margin-top: 15px;
}
.bodyLtr .basicInfoWrapperMobile .valueChangerBox .operator {
  cursor: pointer;
  background: none;
  outline: none;
  width: 30px;
  height: 30px;
  text-align: center;
}
.bodyLtr .basicInfoWrapperMobile .valueChangerBox .operator img {
  width: 23px;
  margin: auto;
}
.bodyLtr .basicInfoWrapperMobile .valueChangerBox .text .value {
  font-size: 24px;
  font-family: spartanBold;
}
.bodyLtr .basicInfoWrapperMobile .valueChangerBox .text .unit {
  font-size: 20px;
  font-family: spartanLight;
  margin-left: 5px;
}
.bodyLtr .basicInfoWrapperMobile .unitBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 56px;
  width: 300px;
  margin: auto;
}
.bodyLtr .basicInfoWrapperMobile .unitBox .item {
  border-radius: 18px;
  background-color: rgb(244, 244, 244);
  color: rgba(0, 0, 0, 0.4);
  width: 128px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  font-family: spartanBold;
}
.bodyLtr .basicInfoWrapperMobile .unitBox .item.active {
  background-color: #a347f1;
  color: white;
}
.bodyLtr .basicInfoWrapper {
  position: relative;
  height: 100vh;
}
.bodyLtr .basicInfoWrapper .title {
  font-weight: 700;
  font-size: 48px;
  font-family: spartanBold;
}
.bodyLtr .basicInfoWrapper .help {
  border: 1px solid #efefef;
  border-radius: 16px;
  min-height: 100px;
  font-family: spartanLight;
  color: rgba(0, 0, 0, 0.4);
  width: 565px;
  max-width: 100%;
  margin: auto;
}
.bodyLtr .basicInfoWrapper .help img {
  width: 30px !important;
  height: 30px !important;
  margin-right: auto;
}
.bodyLtr .basicInfoWrapper .help p {
  width: 85%;
}
.bodyLtr .basicInfoWrapper .progressBox {
  display: flex;
  width: 1360px;
  height: 69px;
  max-width: 100%;
  justify-content: center;
  background-color: rgb(252, 250, 254);
  border-radius: 24px;
  align-items: center;
  margin-top: 20px;
  margin: auto;
  position: relative;
}
.bodyLtr .basicInfoWrapper .progressBox .arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 30px;
  cursor: pointer;
}
.bodyLtr .basicInfoWrapper .progressBox .close {
  /*  margin-left: auto; */
  position: absolute;
  top: 13px;
  right: 30px;
  cursor: pointer;
}
.bodyLtr .basicInfoWrapper .genderBox {
  width: 574px;
  max-width: 100%;
  margin: auto;
  margin-top: 197px;
}
.bodyLtr .basicInfoWrapper .genderBox .item {
  width: 46%;
  height: 269px;
  border-radius: 12px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.bodyLtr .basicInfoWrapper .genderBox .item .title {
  font-family: spartanBold;
  font-size: 16px;
  margin-top: 20px;
}
.bodyLtr .basicInfoWrapper .genderBox .item .genderImage {
  margin-top: -120px;
}
.bodyLtr .basicInfoWrapper .bodyImage {
  display: block;
  margin: auto;
  height: 400px;
}
.bodyLtr .basicInfoWrapper .bodyFatSelectorBox {
  border-radius: 6px;
  background-color: rgb(244, 244, 244);
  width: 386px;
  max-width: 100%;
  margin: auto;
  position: relative;
  height: 17px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.bodyLtr .basicInfoWrapper .bodyFatSelectorBox .labelMin {
  position: absolute;
  left: 0;
  font-size: 14px;
  font-family: spartanLight;
  top: 27px;
}
.bodyLtr .basicInfoWrapper .bodyFatSelectorBox .labelMax {
  position: absolute;
  right: 0;
  font-size: 14px;
  font-family: spartanLight;
  top: 27px;
}
.bodyLtr .basicInfoWrapper .bodyFatSelectorBox * {
  transition: all 0.1s linear;
}
.bodyLtr .basicInfoWrapper .bodyFatSelectorBox .item {
  width: 10px;
  height: 10px;
  background-color: rgb(181, 181, 181);
  display: block;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}
.bodyLtr .basicInfoWrapper .bodyFatSelectorBox .item .tooltip {
  font-family: spartanBold;
  font-size: 16px;
  position: absolute;
  top: -25px;
  display: none;
  width: 70px;
  margin-left: 23px;
}
.bodyLtr .basicInfoWrapper .bodyFatSelectorBox .item.active {
  background-color: white;
  border: 3px solid rgb(146, 108, 255);
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyLtr .basicInfoWrapper .bodyFatSelectorBox .item.active .tooltip {
  display: block;
}
.bodyLtr .basicInfoWrapper .bodyFatSelectorBox .item.active .core {
  display: block;
  background-color: rgb(146, 108, 255);
  width: 11px;
  height: 11px;
  border-radius: 30px;
}
.bodyLtr .basicInfoWrapper .letStartBtn {
  border-radius: 16px;
  font-size: 20px;
  font-family: openSansBold;
  background-color: #a347f1;
  display: block;
  padding: 10px;
  width: 430px;
  max-width: 100%;
  margin: auto;
  color: white;
  margin-top: 60px;
}
@media screen and (min-height: 741px) {
  .bodyLtr .basicInfoWrapper .letStartBtn {
    margin-top: 130px;
  }
}
.bodyLtr .basicInfoWrapper .goalBox {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 670px;
  max-width: 100%;
  cursor: pointer;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bodyLtr .basicInfoWrapper .goalBox img {
  width: 140px;
}
.bodyLtr .basicInfoWrapper .goalBox .text {
  color: rgba(0, 0, 0, 0.7);
  font-family: spartanBold;
  font-size: 18px;
}
.bodyLtr .basicInfoWrapper .swiperWrapper {
  width: 550px;
  max-width: 100%;
  margin: auto;
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiper-slide {
  height: 180px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-top: 30px;
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiper-slide .myRing {
  border: 14px solid rgba(163, 71, 241, 0.09);
  width: 170px;
  height: 170px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperInfo .title {
  font-family: spartanBold;
  font-size: 20px;
  text-align: center;
  display: block;
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperInfo .text {
  font-family: spartanMedium;
  font-size: 18px;
  text-align: center;
  display: block;
  min-height: 54px;
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus.active1 .bar:nth-child(1) {
  background-color: rgb(0, 213, 183);
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus.active2 .bar:nth-child(1) {
  background-color: rgb(253, 131, 188);
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus.active2 .bar:nth-child(2) {
  background-color: rgb(253, 131, 188);
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus.active3 .bar:nth-child(1) {
  background-color: rgb(255, 154, 124);
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus.active3 .bar:nth-child(2) {
  background-color: rgb(255, 154, 124);
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus.active3 .bar:nth-child(3) {
  background-color: rgb(255, 154, 124);
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus.active4 .bar:nth-child(1) {
  background-color: rgb(108, 149, 255);
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus.active4 .bar:nth-child(2) {
  background-color: rgb(108, 149, 255);
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus.active4 .bar:nth-child(3) {
  background-color: rgb(108, 149, 255);
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus.active4 .bar:nth-child(4) {
  background-color: rgb(108, 149, 255);
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus.active5 .bar {
  background-color: rgb(146, 108, 255);
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus .bar {
  display: block;
  width: 38px;
  border-radius: 33px;
  background-color: rgb(244, 244, 244);
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus .bar1 {
  height: 60px;
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus .bar2 {
  height: 84px;
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus .bar3 {
  height: 118px;
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus .bar4 {
  height: 147px;
}
.bodyLtr .basicInfoWrapper .swiperWrapper .swiperStatus .bar5 {
  height: 173px;
}
.bodyLtr .basicInfoWrapper .replyBox {
  background-color: rgb(244, 244, 244);
  border-radius: 16px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: spartanBold;
  margin: auto;
  margin-top: 20px;
  width: 670px;
  cursor: pointer;
}
.bodyLtr .basicInfoWrapper .yesNoBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  max-width: 100%;
  margin: auto;
  margin-top: 10%;
}
.bodyLtr .basicInfoWrapper .yesNoBox button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-size: 18px;
  height: 70px;
  width: 325px;
  font-family: spartanBold;
  background-color: rgb(244, 244, 244);
  outline: none;
}
.bodyLtr .basicInfoWrapper .yesNoBox button img {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}
.bodyLtr .basicInfoWrapper .rangeWrapper {
  height: 500px;
  text-align: center;
  height: 320px;
  width: 700px;
  text-align: right;
  margin: auto;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.bodyLtr .basicInfoWrapper .rangeWrapper .wightInfo {
  display: block;
  margin: auto;
  font-size: 40px;
  text-align: center;
  font-family: spartanBold;
  direction: ltr;
}
.bodyLtr .basicInfoWrapper .rangeWrapper .ruler {
  height: 304px;
  width: 38px;
  position: absolute;
  right: 132px;
  top: 7px;
  /* z-index: 1; */
  direction: rtl;
}
.bodyLtr .basicInfoWrapper .rangeWrapper .ruler .item {
  display: block;
  width: 22px;
  height: 4px;
  background-color: silver;
  margin-top: 6px;
}
.bodyLtr .basicInfoWrapper .rangeWrapper .ruler .item-big {
  display: block;
  width: 38px;
  height: 4px;
  background-color: silver;
  margin-top: 6px;
}
.bodyLtr .basicInfoWrapper .rangeWrapper .weightRuler {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  right: 10px;
  top: 7px;
  /* z-index: 1; */
  direction: rtl;
}
.bodyLtr .basicInfoWrapper .rangeWrapper .weightRuler .item {
  width: 4px;
  height: 22px;
  background-color: silver;
}
.bodyLtr .basicInfoWrapper .rangeWrapper .weightRuler .item-big {
  width: 4px;
  height: 38px;
  background-color: silver;
}
.bodyLtr .basicInfoWrapper .rangeWrapper .human {
  position: absolute;
  /*   top: 0; */
  height: 325px;
  right: 28%;
  z-index: -1;
}
.bodyLtr .basicInfoWrapper .valueChangerBox {
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 56px;
  width: 300px;
  border-radius: 12px;
  margin: auto;
  margin-top: 30px;
}
.bodyLtr .basicInfoWrapper .valueChangerBox .operator {
  cursor: pointer;
  background: none;
  outline: none;
  width: 30px;
  height: 30px;
}
.bodyLtr .basicInfoWrapper .valueChangerBox .operator img {
  width: 23px;
  margin: auto;
}
.bodyLtr .basicInfoWrapper .valueChangerBox .text .value {
  font-size: 24px;
  font-family: spartanBold;
}
.bodyLtr .basicInfoWrapper .valueChangerBox .text .unit {
  font-size: 20px;
  font-family: spartanLight;
  margin-left: 5px;
}
.bodyLtr .basicInfoWrapper .unitBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 56px;
  width: 300px;
  margin: auto;
}
.bodyLtr .basicInfoWrapper .unitBox .item {
  border-radius: 18px;
  background-color: rgb(244, 244, 244);
  color: rgba(0, 0, 0, 0.4);
  width: 128px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  font-family: spartanBold;
}
.bodyLtr .basicInfoWrapper .unitBox .item.active {
  background-color: #a347f1;
  color: white;
}

.comingSoon {
  width: 100%;
  height: 100vh;
  background-color: #ebd3ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comingSoon h3 {
  font-size: 43px;
  color: #393939;
}/*# sourceMappingURL=mainLTR.css.map */