@import url(fontiran.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  padding: 0;
}

.bodyRtl {
  font-family: IRANSans, sans-serif;
}

.bodyRtl .langBox {
  font-family: IRANSans;
  position: absolute;
  right: 240px;
}

@media screen and (max-width: 768px) {
  .bodyRtl .langBox {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bodyRtl .langBox button {
  margin-right: 10px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .bodyRtl .langBox button {
    margin-right: 0;
  }
}

.bodyRtl .langBox button.active {
  background-color: #0c0c0c36;
  padding: 5px;
  border-radius: 5px;
  padding-top: 8px;
}

.bodyRtl .mainMenu {
  width: 100%;
  position: fixed;
  margin: auto;
  padding: 20px;
  z-index: 100;
  right: 0;
  /* @media screen and (max-width: 1350px) {
      padding: 10px;
    } */
  padding-right: 30px;
  padding-left: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 200;
  top: 0;
}

.bodyRtl .mainMenu.tiny {
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.bodyRtl .mainMenu.fixMenu {
  position: fixed !important;
  top: 0 !important;
}

.bodyRtl .mainMenu .logo {
  width: 223px;
  height: 57px;
}

.bodyRtl .mainMenu nav a {
  font-size: 20px;
}

.bodyRtl .mainMenu .action {
  width: 222px;
  background-color: #a347f1;
  border-radius: 10px;
  color: white;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bodyRtl .mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}

.bodyRtl .mobileMenu .logo {
  margin-left: -29px;
  width: 165px;
}

.bodyRtl .homeWrapper .section1 {
  padding-bottom: 20px;
  background: #e4e9fe;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#e4e9fe), to(#dfc4fb));
  background: linear-gradient(90deg, #e4e9fe 0%, #dfc4fb 100%);
}

@media screen and (min-width: 991px) {
  .bodyRtl .homeWrapper .section1 {
    padding-top: 97px;
  }
}

.bodyRtl .homeWrapper .section1 .mobilePlate {
  width: 80%;
}

@media only screen and (min-width: 375px) {
  .bodyRtl .homeWrapper .section1 .mobilePlate {
    width: 80%;
  }
}

.bodyRtl .homeWrapper .section1 .watermark {
  font-size: 284px;
  color: #ffffff33;
  position: absolute;
  top: 0px;
  right: 21px;
  line-height: 295px;
  z-index: 0;
}

@media screen and (max-width: 1920px) {
  .bodyRtl .homeWrapper .section1 .watermark {
    font-size: 237px;
    top: -66px;
    line-height: 254px;
  }
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section1 .watermark {
    font-size: 136px;
    top: -12px;
    line-height: 147px;
  }
}

.bodyRtl .homeWrapper .section1 .body {
  position: relative;
  width: 100%;
}

.bodyRtl .homeWrapper .section1 .body .plate {
  width: 500px;
}

@media screen and (min-width: 1920px) {
  .bodyRtl .homeWrapper .section1 .body .plate {
    width: 800px;
  }
}

.bodyRtl .homeWrapper .section1 .body .rightBox {
  width: 50%;
}

.bodyRtl .homeWrapper .section1 .body .rightBox .plate {
  width: 100%;
}

@media screen and (min-width: 1920px) {
  .bodyRtl .homeWrapper .section1 .body .rightBox .plate {
    width: 100%;
  }
}

.bodyRtl .homeWrapper .section1 .body .leftBox {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 991px) {
  .bodyRtl .homeWrapper .section1 .body .leftBox {
    width: 100%;
    padding-right: 0;
  }
}

@media only screen and (min-width: 375px) {
  .bodyRtl .homeWrapper .section1 .body .leftBox .letsGoImg {
    width: 85%;
  }
}

.bodyRtl .homeWrapper .section1 .body .learn {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

@media only screen and (min-width: 375px) {
  .bodyRtl .homeWrapper .section1 .body .learn {
    font-size: 20px;
  }
}

.bodyRtl .homeWrapper .section1 .body .learn strong {
  color: #a347f1;
  font-weight: 700;
}

.bodyRtl .homeWrapper .section1 .body .welcome {
  font-size: 48px;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 767px) {
  .bodyRtl .homeWrapper .section1 .body .welcome {
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (min-width: 1920px) {
  .bodyRtl .homeWrapper .section1 .body .welcome {
    font-size: 100px;
  }
}

.bodyRtl .homeWrapper .section1 .body p {
  font-size: 29px;
}

@media screen and (max-width: 767px) {
  .bodyRtl .homeWrapper .section1 .body p {
    font-size: 24px;
    text-align: center;
  }
}

@media only screen and (min-width: 375px) {
  .bodyRtl .homeWrapper .section1 .body p {
    font-size: 17px;
  }
}

.bodyRtl .homeWrapper .section1 .body .coachTeamBox {
  border-radius: 32px;
  background-color: #a347f1;
  min-height: 250px;
  margin-top: 15%;
  position: relative;
  width: 760px;
  max-width: 100%;
  color: white;
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section1 .body .coachTeamBox {
    width: 561px;
    margin-top: 10%;
    min-height: 210px;
  }
}

@media screen and (min-height: 900px) {
  .bodyRtl .homeWrapper .section1 .body .coachTeamBox {
    margin-top: 27%;
  }
}

.bodyRtl .homeWrapper .section1 .body .coachTeamBox .bodyImg {
  position: absolute;
  bottom: 0px;
  right: -77px;
  width: 410px;
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section1 .body .coachTeamBox .bodyImg {
    width: 310px;
  }
}

.bodyRtl .homeWrapper .section1 .body .coachTeamBox .action {
  padding-right: 85px;
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section1 .body .coachTeamBox .action {
    padding-right: 45px;
  }
}

.bodyRtl .homeWrapper .section1 .body .coachTeamBox .action .title {
  font-size: 24px;
}

.bodyRtl .homeWrapper .section1 .body .coachTeamBox .action .text {
  font-size: 18px;
}

.bodyRtl .homeWrapper .section1 .body .coachTeamBox .action .letStartBtn {
  border-radius: 16px;
  background-color: white;
  min-height: 75px;
  margin-top: 50px;
  width: 90%;
  color: black;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section1 .body .coachTeamBox .action .letStartBtn {
    margin-top: 30px;
    min-height: 67px;
  }
}

.bodyRtl .homeWrapper .section1 .body .coachTeamBox .action .letStartBtn span {
  font-size: 24px;
}

.bodyRtl .homeWrapper .section1 .body .coachTeamBox .action .letStartBtn .circle {
  width: 122px;
  height: 122px;
  background-color: #a347f114;
  position: absolute;
  right: 0;
  border-radius: 64px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  top: 2px;
}

.bodyRtl .homeWrapper .section1 .body .coachTeamBox .action .letStartBtn .circle img {
  margin: auto;
  display: block;
  margin-top: -7px;
}

.bodyRtl .homeWrapper .section1 .body .coachTeamBox .action .letStartBtn:hover .circle {
  background-color: #a347f15c;
}

.bodyRtl .homeWrapper .section1 .body .letsStartBtnMobile {
  border-radius: 16px;
  font-size: 20px;
  font-family: IRANSansBold;
  background-color: #a347f1;
  padding: 10px;
  width: 100%;
  color: white;
}

.bodyRtl .homeWrapper .section2 {
  background-color: #f5e170;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .bodyRtl .homeWrapper .section2 {
    background-color: #fff9e3;
  }
}

.bodyRtl .homeWrapper .section2 .tooltip1 {
  position: absolute;
  background-color: white;
  width: 200px;
  padding: 5px;
  border-radius: 13px;
  top: 7%;
  left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section2 .tooltip1 {
    top: 2%;
  }
}

.bodyRtl .homeWrapper .section2 .tooltip1 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

.bodyRtl .homeWrapper .section2 .tooltip1 strong {
  font-size: 16px;
}

.bodyRtl .homeWrapper .section2 .tooltip2 {
  position: absolute;
  background-color: white;
  width: 200px;
  /*  padding: 5px; */
  border-radius: 13px;
  bottom: 14%;
  right: 22%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section2 .tooltip2 {
    right: 18%;
  }
}

.bodyRtl .homeWrapper .section2 .tooltip2 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

.bodyRtl .homeWrapper .section2 .tooltip2 strong {
  font-size: 16px;
}

.bodyRtl .homeWrapper .section2 .tooltip3 {
  background-color: white;
  width: 100%;
  padding: 5px;
  border-radius: 13px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bodyRtl .homeWrapper .section2 .tooltip3 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

.bodyRtl .homeWrapper .section2 .tooltip3 strong {
  font-size: 16px;
}

.bodyRtl .homeWrapper .section2 .plateBox {
  /* height: 100%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 615px;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 100%;
  padding: 20px;
  padding-top: 34px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.356);
  position: relative;
}

.bodyRtl .homeWrapper .section2 .plateBox .plate {
  z-index: 1;
}

.bodyRtl .homeWrapper .section2 .plateBox .lemon {
  position: absolute;
  right: 26px;
  top: -60px;
  z-index: 0;
}

.bodyRtl .homeWrapper .section2 .plateBox .tomato {
  position: absolute;
  left: -40px;
  bottom: 4px;
  z-index: 0;
}

.bodyRtl .homeWrapper .section2 .fullPlate {
  width: 80%;
}

@media screen and (max-width: 991px) {
  .bodyRtl .homeWrapper .section2 .fullPlate {
    width: 100%;
  }
}

.bodyRtl .homeWrapper .section2 .leftBox {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 991px) {
  .bodyRtl .homeWrapper .section2 .leftBox {
    position: static;
    width: 100%;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bodyRtl .homeWrapper .section2 .rightBox {
  width: 50%;
}

@media screen and (max-width: 991px) {
  .bodyRtl .homeWrapper .section2 .rightBox {
    width: 100%;
  }
}

.bodyRtl .homeWrapper .section2 .rightBox .title {
  font-size: 96px;
  direction: ltr;
  height: 91px;
  color: white;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.bodyRtl .homeWrapper .section2 .rightBox .title2 {
  font-size: 96px;
  direction: ltr;
  height: 91px;
  color: black;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 214px;
}

.bodyRtl .homeWrapper .section2 .rightBox p {
  font-size: 33px;
}

@media screen and (max-width: 767px) {
  .bodyRtl .homeWrapper .section2 .rightBox p {
    font-size: 24px;
    text-align: center;
  }
}

.bodyRtl .homeWrapper .section2 .rightBox .letStartBtn {
  border-radius: 16px;
  background-color: black;
  min-height: 64px;
  width: 90%;
  color: white;
  overflow: hidden;
  width: 362px;
  position: relative;
  padding: 19px;
}

.bodyRtl .homeWrapper .section2 .rightBox .letStartBtn span {
  font-size: 24px;
}

.bodyRtl .homeWrapper .section2 .rightBox .letStartBtn .circle {
  width: 122px;
  height: 122px;
  background-color: #3d3d3df5;
  position: absolute;
  right: 0;
  border-radius: 64px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  top: 2px;
}

.bodyRtl .homeWrapper .section2 .rightBox .letStartBtn .circle img {
  margin: auto;
  display: block;
  width: 80px;
}

.bodyRtl .homeWrapper .section2 .rightBox .letStartBtn:hover .circle {
  background-color: #323232f5;
}

.bodyRtl .homeWrapper .section2 .letsStartBtnMobile {
  border-radius: 16px;
  font-size: 20px;
  font-family: IRANSansBold;
  background-color: #ff9170;
  padding: 10px;
  width: 100%;
  color: white;
}

.bodyRtl .homeWrapper .section3 {
  background-color: #eef9ff;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodyRtl .homeWrapper .section3 .lineTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section3 .lineTab {
    margin-top: 42px;
  }
}

.bodyRtl .homeWrapper .section3 .lineTab .tab {
  background-color: #c9dbe5;
  height: 6px;
  border-radius: 9px;
  width: 48px;
  margin-left: 10px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
}

.bodyRtl .homeWrapper .section3 .lineTab .tab.active {
  width: 89px;
  /* height: 6px; */
  background-color: #a347f1;
}

.bodyRtl .homeWrapper .section3 .tabTitle {
  font-family: IRANSansBold;
  font-size: 17px;
}

.bodyRtl .homeWrapper .section3 .tabTitle .arm {
  width: 46px;
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section3 .tabTitle .arm {
    display: none;
  }
}

@media screen and (min-width: 1350px) {
  .bodyRtl .homeWrapper .section3 .tabTitle {
    font-size: 29px;
  }
}

.bodyRtl .homeWrapper .section3 .title {
  font-size: 23px;
  font-weight: 700;
}

.bodyRtl .homeWrapper .section3 p {
  font-size: 20px;
  font-family: IRANSansBold;
  color: #000000b3;
}

.bodyRtl .homeWrapper .section3 .stepNumberBox {
  background-color: #a347f1;
  color: white;
  padding: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: IRANSansBold;
}

.bodyRtl .homeWrapper .section3 .mobileGenderBox {
  background-color: white;
  border-radius: 24px;
  width: 46%;
  text-align: center;
}

.bodyRtl .homeWrapper .section3 .mobileGenderBox .genderTitle {
  background-color: #e7f6ff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  border-radius: 16px;
}

.bodyRtl .homeWrapper .section3 .mobileMuscleBox {
  border-radius: 24px;
  width: 100%;
  height: 297px;
  text-align: center;
}

.bodyRtl .homeWrapper .section3 .mobileMuscleBox .muscle {
  height: 270px;
  display: block;
}

.bodyRtl .homeWrapper .section3 .genderBox {
  background-color: white;
  border-radius: 24px;
  width: 48%;
  text-align: center;
}

.bodyRtl .homeWrapper .section3 .genderBox .genderTitle {
  background-color: #e7f6ff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border-radius: 16px;
}

.bodyRtl .homeWrapper .section3 .genderBox .genderTitle img {
  width: 35px;
}

.bodyRtl .homeWrapper .section3 .genderBox .genderBody {
  height: 500px;
}

@media screen and (max-width: 1350px) {
  .bodyRtl .homeWrapper .section3 .genderBox .genderBody {
    height: 300px;
  }
}

.bodyRtl .homeWrapper .section3 .muscleBox {
  height: 598px;
  position: relative;
}

.bodyRtl .homeWrapper .section3 .muscleBox .watermark {
  font-size: 233px;
  font-weight: 600;
  width: 100%;
  position: absolute;
  z-index: 0;
  color: #E0F4FEBA;
  text-align: center;
  top: 0;
  left: 0;
  line-height: 222px;
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section3 .muscleBox {
    height: auto;
  }
}

.bodyRtl .homeWrapper .section3 .muscleBox .genderMuscle {
  height: 500px;
  z-index: 10;
}

@media screen and (max-width: 1350px) {
  .bodyRtl .homeWrapper .section3 .muscleBox .genderMuscle {
    height: 400px;
  }
}

.bodyRtl .homeWrapper .section3 .equipmentBox {
  height: 598px;
  width: 585px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section3 .equipmentBox {
    height: auto;
  }
}

.bodyRtl .homeWrapper .section3 .equipmentBox .box {
  background-color: white;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  width: 116px;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* img{
            width: 70%;
          }
          .ball{
             width:50%
          }
          .kettle{
            width:44%
         } */
}

.bodyRtl .homeWrapper .section3 .equipmentBox .label {
  display: block;
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;
  font-family: IRANSans;
}

.bodyRtl .homeWrapper .section3 .mobileEquipmentBox {
  height: 300px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
}

.bodyRtl .homeWrapper .section3 .mobileEquipmentBox .mainWrraper {
  width: 300px;
  margin: auto;
  max-width: 100%;
  overflow: scroll;
}

.bodyRtl .homeWrapper .section3 .mobileEquipmentBox .mainWrraper .scrollWrapper {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bodyRtl .homeWrapper .section3 .mobileEquipmentBox .mainWrraper .box {
  background-color: white;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  width: 116px;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodyRtl .homeWrapper .section3 .mobileEquipmentBox .mainWrraper .label {
  display: block;
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;
}

.bodyRtl .homeWrapper .section3 .coachSportBox {
  height: 598px;
  width: 585px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section3 .coachSportBox {
    height: auto;
  }
}

.bodyRtl .homeWrapper .section3 .coachSportBox .box {
  background-color: white;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  width: 48%;
  margin-right: 2%;
  height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.bodyRtl .homeWrapper .section3 .coachSportBox .box img {
  width: 71%;
}

.bodyRtl .homeWrapper .section3 .mobileCoachSportBox {
  height: 313px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}

.bodyRtl .homeWrapper .section3 .mobileCoachSportBox .box {
  background-color: white;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  width: 48%;
  margin-right: 2%;
  height: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-content: center;
  align-items: end;
}

.bodyRtl .homeWrapper .section3 .mobileCoachSportBox .stepInfo img {
  width: 140px;
}

.bodyRtl .homeWrapper .section3 .mobileCoachSportBox .stepInfo h2 {
  font-family: IRANSans;
  font-size: 80px;
}

.bodyRtl .homeWrapper .section3 .mobileCoachSportBox .stepInfo h3 {
  font-family: IRANSans;
  font-size: 50px;
}

.bodyRtl .homeWrapper .section3 .mobileCoachSportBox .stepInfo p {
  font-size: 24px;
}

.bodyRtl .homeWrapper .section3 .mobileCoachSportBox .stepInfo .letStartBtn {
  border-radius: 16px;
  background-color: black;
  min-height: 64px;
  width: 90%;
  color: white;
  overflow: hidden;
  width: 362px;
  position: relative;
  padding: 19px;
}

.bodyRtl .homeWrapper .section3 .mobileCoachSportBox .stepInfo .letStartBtn span {
  font-size: 24px;
}

.bodyRtl .homeWrapper .section3 .mobileCoachSportBox .stepInfo .letStartBtn .circle {
  width: 122px;
  height: 122px;
  background-color: #3d3d3df5;
  position: absolute;
  right: 0;
  border-radius: 64px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  top: 2px;
}

.bodyRtl .homeWrapper .section3 .mobileCoachSportBox .stepInfo .letStartBtn .circle img {
  margin: auto;
  display: block;
  width: 80px;
  margin-top: 20px;
}

.bodyRtl .homeWrapper .section3 .mobileCoachSportBox .stepInfo .letStartBtn:hover .circle {
  background-color: #323232f5;
}

.bodyRtl .homeWrapper .section3 .mobileCoachSportBox .letStartBtnMobile {
  border-radius: 16px;
  font-size: 20px;
  font-family: IRANSansBold;
  background-color: #a347f1;
  display: block;
  padding: 10px;
  width: 100%;
  color: white;
}

.bodyRtl .homeWrapper .section3 .stepInfo img {
  width: 140px;
}

.bodyRtl .homeWrapper .section3 .stepInfo h2 {
  font-family: IRANSansBold;
  font-size: 80px;
}

@media screen and (max-width: 1366px) {
  .bodyRtl .homeWrapper .section3 .stepInfo h2 {
    font-size: 50px;
  }
}

.bodyRtl .homeWrapper .section3 .stepInfo h3 {
  font-family: IRANSansBold;
  font-size: 40px;
}

.bodyRtl .homeWrapper .section3 .stepInfo p {
  font-size: 24px;
}

.bodyRtl .homeWrapper .section3 .stepInfo .letStartBtn {
  border-radius: 16px;
  background-color: black;
  min-height: 64px;
  width: 90%;
  color: white;
  overflow: hidden;
  width: 362px;
  position: relative;
  padding: 19px;
}

.bodyRtl .homeWrapper .section3 .stepInfo .letStartBtn span {
  font-size: 24px;
}

.bodyRtl .homeWrapper .section3 .stepInfo .letStartBtn .circle {
  width: 122px;
  height: 122px;
  background-color: #3d3d3df5;
  position: absolute;
  right: 0;
  border-radius: 64px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  top: 2px;
}

.bodyRtl .homeWrapper .section3 .stepInfo .letStartBtn .circle img {
  margin: auto;
  display: block;
  width: 80px;
  margin-top: 20px;
}

.bodyRtl .homeWrapper .section3 .stepInfo .letStartBtn:hover .circle {
  background-color: #323232f5;
}

.bodyRtl .homeWrapper .section3 .letStartBtnMobile {
  border-radius: 16px;
  font-size: 20px;
  font-family: IRANSansBold;
  background-color: #a347f1;
  display: block;
  padding: 10px;
  width: 100%;
  color: white;
}

.bodyRtl .homeWrapper .section4 {
  background: -webkit-gradient(linear, left top, right top, from(#e4e9fe), to(#dfc4fb));
  background: linear-gradient(90deg, #e4e9fe 0%, #dfc4fb 100%);
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bodyRtl .homeWrapper .section4 .title {
  font-size: 22px;
  font-family: IRANSansBlack;
  margin-bottom: 20px;
}

.bodyRtl .homeWrapper .section4 .toolsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodyRtl .homeWrapper .section4 .toolsWrapper .tools1 {
  width: 62%;
  margin-left: -42%;
}

.bodyRtl .homeWrapper .section4 .toolsWrapper .tools2 {
  width: 62%;
  margin-top: -38px;
  margin-right: -42%;
}

.bodyRtl .homeWrapper .section4 .toolsWrapper .tools3 {
  width: 62%;
  margin-top: -85px;
  margin-left: -42%;
  z-index: 10;
}

.bodyRtl .homeWrapper .section4 .toolsWrapper .tools4 {
  width: 62%;
  margin-top: -54px;
  margin-right: -42%;
}

.bodyRtl .homeWrapper .section4 .letStartBtnMobile {
  border-radius: 16px;
  font-size: 20px;
  font-family: IRANSansBold;
  background-color: #a347f1;
  display: block;
  padding: 10px;
  width: 80%;
  color: white;
}

.bodyRtl .homeWrapper .section5 {
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .bodyRtl .homeWrapper .section5 {
    background-color: rgba(255, 154, 124, 0.23);
  }
}

.bodyRtl .homeWrapper .section5 .title {
  font-size: 22px;
  font-family: IRANSansBold;
  margin-bottom: 20px;
}

.bodyRtl .homeWrapper .section5 .foodWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bodyRtl .homeWrapper .section5 .foodWrapper .foodBox {
  background-color: white;
  border-radius: 16px;
  width: 42%;
  margin-right: 5%;
  padding-bottom: 10px;
}

.bodyRtl .homeWrapper .section5 .foodWrapper .foodBox .saladPlate {
  width: 70%;
  margin: auto;
  margin-top: -59px;
}

.bodyRtl .homeWrapper .section5 .foodWrapper .foodBox .title {
  font-family: IRANSans;
  font-size: 16px;
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

.bodyRtl .homeWrapper .section5 .foodWrapper .foodBox .calTimeBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodyRtl .homeWrapper .section5 .foodWrapper .foodBox .calTimeBox img {
  width: 30px;
  height: 30px;
}

.bodyRtl .homeWrapper .section5 .foodWrapper .foodBox .calTimeBox span {
  font-size: 11px;
  font-family: IRANSansBold;
}

.bodyRtl .homeWrapper .section5 .foodWrapper .foodBox .fatBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  border-radius: 12px;
  width: 95%;
  height: 40px;
  margin: auto;
  margin-top: 10px;
}

.bodyRtl .homeWrapper .section5 .foodWrapper .foodBox .fatBox .grayTitle {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  display: block;
}

.bodyRtl .homeWrapper .section5 .foodWrapper .foodBox .fatBox .value {
  font-family: IRANSansBold;
  font-size: 12px;
  display: block;
  text-align: center;
}

.bodyRtl .homeWrapper .section5 .foodWrapper .foodBox .fatBox .pipe {
  width: 1px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.14);
  margin: 5px;
}

.bodyRtl .homeWrapper .section5 .letStartBtnMobile {
  border-radius: 16px;
  font-size: 20px;
  font-family: IRANSansBold;
  background-color: #FF9170;
  display: block;
  padding: 10px;
  width: 90%;
  color: white;
}
/*# sourceMappingURL=mainRTL.css.map */